---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "";
const allPosts = await Astro.glob('../pages/teaching/*study_group.md');

import * as classes from '../pages/teaching/classes.md';
---
<!---
Should contain:
- convenient way to update teaching from various markdown files
- short summaries?
--> 

<BaseLayout pageTitle={pageTitle}>


<h2>Study groups</h2>

<ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>

<h2>Teaching experience</h2>
<Fragment set:html={classes.compiledContent()}/>

  <!-- {(classes.compiledContent)} -->
<!-- <ul> -->
<!--     {class_headings.map((heading) => <li> {printClassHeading(heading)}</li>)} -->
<!-- </ul> -->

</BaseLayout>

