---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SpecDeck from '../../components/SpecDeck.astro';

const pageTitle = "Gaga pictures for number fields"

---
<BaseLayout>
<h2>Gaga pictures for number fields<h2/>

  <style>
  .viz-card {
    border: 1px solid rgba(88, 46, 28, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .viz-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  .dataset-selector {
    margin-bottom: 2rem;
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #582e1c;
    border-radius: 0.25rem;
    background-color: white;
    color: #582e1c;
    font-family: inherit;
  }
  .dataset-selector .dark {
    background-color: black;
    color: white;
  }
</style>
  
<div class="viz-container">
  <select class="dataset-selector" id="datasetSelect">
    <option value="1">1.1.1.1</option>
    <option value="2">2.0.3.1</option>
    <option value="3">7.1.3911915096945863.1</option>
    <option value="4">10.2.160801029712.1</option>
    <option value="5">45.1.246012870627780535441003976786240313709044401656133556774425683161984460829.1</option>
  </select>

</div>

  <div class="visible" id="viz1">
    <SpecDeck num={1} >
  </div>
  <div class="hidden" id="viz2">
    <SpecDeck num={2} >
  </div>

  <div class="hidden" id="viz3">
    <SpecDeck num={3} >
  </div>
  <div class="hidden" id="viz4">
    <SpecDeck num={4} >
  </div>
  <div class="hidden" id="viz5">
    <SpecDeck num={5} >
  </div>

<script>
  const decks = document.querySelectorAll('[id^=viz]')
datasetSelect.addEventListener('change', (event) => {
  const selectedNumber = event.target.value;
  console.log("Button clicked!")
  decks.forEach(variant => {
    <!-- console.log(`found variant ${variant} and you ${selectedNumber}`) -->
    const num = Number(variant.id.slice(-1))
    console.log(`You clicked ${selectedNumber} and ID of current html element is ${num}`)
    if (num == selectedNumber) {
      variant.classList.remove('hidden');
      variant.classList.add('visible');
      console.log(`Made ${variant} visible`)
    } else {
      variant.classList.remove('visible');
      variant.classList.add('hidden');
      console.log(`Made ${variant} invisible`)

    }
  });
});
</script>
</BaseLayout>
